@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&family=Noto+Serif+JP:wght@200&display=swap');

.card{
  width: auto;
  margin: 5rem auto;

}
.card img{
  width: 8rem;
  margin: 1rem;
}

.card p{
  margin-left: 1rem;
  font-weight: bold;
}

.image-container{
  display: flex;
}



.book-image{
  transition: transform 450ms;
}

.book-image:hover{
  transform: scale(1.08);
}

.post-name{
  text-decoration: none;
}

.post-name h1{
  padding: 1rem;
  font-family: 'Kaisei HarunoUmi', serif;
  transition: transform 450ms;
  color: black;
}

.post-name h1:hover{
  transform: scale(1.08);
}

h1{
  color: black;
}
